input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=search-md]:focus:not([readonly]), input[type=search]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=url]:focus:not([readonly]), textarea.md-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #EF5350 !important;
    box-shadow: 0 1px 0 0 #EF5350 !important;
}

html {
    scroll-behavior: smooth;
}

.md-form label.active {
    color:#EF5350 !important;
}

.applicationFormFooter {
    background: #243B55;
    margin-bottom: 0px;
    height: 8vh;
}

.applicationFormHeader {
    background: #243B55;
    margin-bottom: 0;
    height: 10vh;
}

.marginTopTeamNames {
    margin-top:30px;
}

@media (max-width: 325px) {
    .phoneMargin {
        margin:0 30px !important;
    }
    .fishDown {
        margin-top: 15%;
    }
    .teamNames {
        padding-bottom:15px;
    }
    .marginTopTeamNames {
        margin-top:0px;
    }
  }
@media (max-width: 480px) {
    .phoneMargin {
        margin:0 30px !important;
        text-align:center;
    }
    #productCapabilities {
        margin-top:30px !important;
    }
    .gifPhone {
        max-width:100%;
    }
    .teamNames {
        padding-bottom:15px;
    }
    .marginTopTeamNames {
        margin-top:0px;
    }
  }

.titleHeader {
    margin:30px auto;
}

.centerfish {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

#tryTribespotButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#topnav {
    margin: 0 auto;
    padding: 0 auto;
    background-color:#243B55;
}

#topnav li {
    display: inline-block;  
    text-align: left;
    padding: 0;
    margin-right: 5%;
}

#topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 17px;
}